extends ../main

block title
	| Генератор водяных знаков

block content
	.container
		section.section-page
			h1.section__title Генератор водяных знаков
			.container-img
		aside.aside-page
			h2.aside__title Настройки
			include ../_common/_opacity


