extends ../main

block title
	| Генератор водяных знаков

	block sidebar
		aside.sidebar
			ul.sidebar-lang
				li.sidebar-lang__rus.active-lang
					a(href="#").sidebar-lang__link РУС
				li.sidebar-lang__eng
					a(href="#").sidebar-lang__link ENG
			.sidebar-social
				ul.sidebar-social__list
					li.social-item
						a.social__icons-link.fb(data-type="fb" href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:3000/" target="_blank") Facebook
					li.social-item
						a.social__icons-link.tw(data-type="tw" href="https://twitter.com/intent/tweet?text=Hello%20world!%20http://127.0.0.1:3000/" target="_blank") Twitter
					li.social-item
						a.social__icons-link.vk(data-type="vk" href="http://vk.com/share.php?url=http://127.0.0.1:3000/" target="_blank") Vk
				.sidebar-social__like
	block content
		.container
			section.section-page
				h1.section__title.lang-ru Генератор водяных знаков
				h1.section__title.lang-en Watermarks generator
				.container__img
					.img__wrapp
						p.upload-title
						.img__main
							.img__main-uploaded
							img(src="img/watermark_03.png" id="draggable").ui-widget-content.img__watermark-uploaded
			aside.aside-page
				h2.aside__title.lang-ru Настройки
				h2.aside__title.lang-en Settings
				
				include ../_common/_form
				include ../_common/_positioning
				include ../_common/_opacity
