extends ../main

block title
	| Генератор водяных знаков

block sidebar
	aside.sidebar
		.sidebar-lang
			.sidebar-lang__rus
				.a РУС
			.sidebar-lang__eng
				.a ENG
		.sidebar-social
			ul.sidebar-social__list
				li.social-item
					a.social__icons-link.fb Facebook
				li.social-item
					a.social__icons-link.fb Twitter
				li.social-item
					a.social__icons-link.fb Vk
			.sidebar-social__like
					

block content
	.container
		section.section-page
			h1.section__title Генератор водяных знаков
			.container-img
		aside.aside-page
			h2.aside__title Настройки
<<<<<<< HEAD
			include ../_common/_positioning
			include ../_common/_opacity
=======
			include ../_common/_opacity
>>>>>>> e39cd6e82447e924a43989104c455fbd3718dd05
