extends ../main

block title
	| Генератор водяных знаков

	block sidebar
		aside.sidebar
			ul.sidebar-lang
				li.sidebar-lang__rus
					a(href="#").sidebar-lang__link РУС
				li.sidebar-lang__eng
					a(href="#").sidebar-lang__link ENG
			.sidebar-social
				ul.sidebar-social__list
					li.social-item
						a.social__icons-link.fb Facebook
					li.social-item
						a.social__icons-link.fb Twitter
					li.social-item
						a.social__icons-link.fb Vk
				.sidebar-social__like
	block content
		.container
			section.section-page
				h1.section__title Генератор водяных знаков
				.container-img
			aside.aside-page
				h2.aside__title Настройки
				include ../_common/_form
				include ../_common/_positioning
				include ../_common/_opacity
