.formwrapper.devider
	form(id="add-new-project" role="form").form
		.form__group
			.form__group-wrapper
				.info__text Исходное изображение
				label.label__fileupload
					input(id="fileuploadFirst" type="file" name="files[]").fileupload
					input(id="fileurl" type="hidden").fileurl
				input(id="filenameFirst" name="filename" placeholder="Image.jpg").input
			.form__group-wrapper
				.info__text Водяной знак
				label.label__fileupload
					input(id="fileuploadSecond" type="file" name="files[]").fileupload
					input(id="fileurl" type="hidden").fileurl
				input(id="filenameSecond" name="filename" placeholder="Image.jpg").input
