.opacity__wrapper.devider
    h3.info__text.info__text-opacity Прозрачность
        .opacity__slider#slider
    .opacity__button
        input(type="reset" value="Сброс").opacity__button-input.opacity__button-input-res
        button.opacity__button-input.opacity__button-input-load(download="watermark.png") Скачать
