.opacity__wrapper {
  background: #f1f1f1;
  margin-left: 9px;
  margin-right: 7px;
  font-size: 14px;
  text-align: left;

}

.opacity__modal{
  margin-bottom: 33px;
  padding: 20px 12px 0 10px;

}
.opacity__slider {
margin-top: 26px;

}

.opacity__button {
  @include clearfix;
  padding: 56px 4px 0 2px;

}

.opacity__button-input {
  height: 42px;
  width: 99px;
  border-radius: 3px;
  border: none;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.6;

  &:hover{
    opacity: 1;
  }
}

.opacity__button-input-res {
  background: #c1cfd9;
  float: left;
}

.opacity__button-input-load {
  background: #f97e76;
  float: right;
  outline: none;
}

