.section-page {
	width: 700px;
	height: 670px;
	background: rgba(0,0,0,.6);
	float: left;
}

.section__title {
	font: 36px 'segoeuil';
	color: #fff;
	padding-left: 23px;
	margin: 9px 0 54px 0;
}

.container__img {
	width: 651px;
	margin: 0 auto;
	background: #fff;
	height: 534px;
}

.img__wrapp {
	position: relative;
}

.img__main-uploaded {
	max-width: 100%;
	max-height: 100%;
}

.img__watermark {
	position: absolute;
}

.img__watermark-uploaded {
	position: absolute;
}