.section-page {
	width: 700px;
	height: 670px;
	background: rgba(0,0,0,.6);
	float: left;
}

.section__title {
	font-size: 26px;
	font-weight: 300;
	color: #fff;
	padding-left: 25px;
	margin-bottom: 55px;
}

.container-img {
	width: 650px;
	margin: 0 auto;
	background: #fff;
	height: 535px;
}