.section-page {
	width: 700px;
	height: 670px;
	background: rgba(0,0,0,.6);
	float: left;
}

.section__title {
	font: 36px 'segoeuil';
	color: #fff;
	padding-left: 23px;
	margin: 9px 0 54px 0;
}

.container-img {
	width: 651px;
	margin: 0 auto;
	background: #fff;
	height: 534px;
}